@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    /* font-family: "Roboto", sans-serif; */
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(247 250 252);
}

body {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 48px;
    line-height: 1.5;
    font-weight: 900;
}

h2 {
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(100 21 255);
    font-size: 16px;
}

li {
    list-style-type: none;
}

p {
    font-size: 18px;
    line-height: 1.5em;
}

input {
    line-height: 1.5em;
}

.purple {
    color: #6415ff;
}
/* NAV */


.nav__container {
    margin: 0 auto;
    margin-top: 24px;
    width: 100%;
    max-width: 1280px;
    
}

.nav__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 4px;
}

.nav__logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 24px 0px 0px;
    padding: 0px 0px 4px;
}

.t__logo {
    width: 100%;
    max-width: 40px;
    margin: 0px 12px 0px 0px;
}

.nav__title {
    font-size: 24px;
}

.nav__links--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}


.nav__link {
    margin: 0 24px;
    text-decoration: none;
    padding: 0 0 4px;
}

.nav__link--log-in {
    margin: 0px 24px 0px 48px;
}


.btn {
    font-weight: 700;
    padding: 12px 32px;
    border-radius: 9999px;
    border: none;
    font-size: 14px;
    background-color: rgb(100 21 255);
    color: rgb(247 250 252);
}


/* LANDING */

.landing__container {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    padding: 80px 0px 0px;
}

.landing__first--wrapper {
    display: flex;
    flex-direction: column;
    display: flex;
    width: 40%;
    justify-content: center;

}

.landing__title {
    font-weight: 700;
}

#landing__para {
    margin: 32px 0px;
}

.input__box {
    position: relative;


}

.input__bar {
    border-width: 2px;
    border-style: solid;
    display: flex;
    justify-content: space-between;
 
    width: 100%;
    border-radius: 9999px;
    border-color: rgb(226, 232, 240);
    padding: 20px 192px 20px 32px;
    
}

.get--started {
    position: absolute;
    padding: 16px 0PX;
    margin: 8px 8px 8px 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    font-size: 16px;
    line-height: 1;
    width: 10rem;
}

.customer__wrapper {
    margin: 80px 0px 0px;
}

.customer__text {
    font-size: 12px;
    color: #a0aec0;
}

.customer__logo {
    padding-right: 128px;
    width: 100%;
    height: auto;
    margin: 16px 0px 0px;
    display: block;
    opacity: 0.5;
}

.landing__second--wrapper {
    width: 60%;
    align-items: center;
}

.coat__hanger {
    width: 100%;
}

/* FEATURES */

.container {
    padding: 80px 0px;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
}

.features__head {
    margin-bottom: 16px;
}

.features__para {
    max-width: 36rem;
    margin-top: 16px;
    color: rgb(124, 139, 161);
}

.feature__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.feature {
    display: flex;
    width: calc(100%/3);
}

.feature__circle {
    width: 66px;
    height: 66px;
    padding: 20px;
    border-width: 1px;
    border-radius: 9999px;
    border-style: solid;
    border-color: rgb(226, 232, 240);
}

.feature__sub--wrapper {
    display: flex;
    
    margin: 0px 16px;
    padding: 32px 8px;
}

.feature__sub-class {
    margin: 8px 0px 0px 16px;
}

.feature__subtitle {
    font-size: 24px;
    margin: 16px 0px 0px;
}

.feature__para {
    font-size: 16px;
    color: rgb(124, 139, 161);
    margin-top: 16px;
}

/* QUALITY */

.quality__container {
    max-width: 1200px;
    width: 100%;
}

.quality__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}

.quality__text {
    width: 50%;
}

.quality__img {
    padding: 24px;
    width: 50%;
}

.screenshot {
    width: 100%;
}

/* STEPS */

.steps__row {
    display: flex;
    flex-direction: row;

}

.steps__right-col {
    display: flex;
    flex-direction: column;

}

.step__wrapper {
    display: flex;
    flex-direction: row
}

/* VALUES */

.values__row {
    display: flex;
    flex-direction: row;
}

.values__text--wrapper {
    width: 50%;
}

.icon--wrapper {
    width: 36px;
    height: 36px;
    background-color: green;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.values__text--blocks {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 0 auto;
}

.values__text--block--horizon {
    display: flex;
    flex-direction: row;
}

.icon__test {
    background: none;
    width: 20px;
    height: 20px;
    margin: 0 auto;
}

.icon__pic {
    background: none;
    width: 36px;
}

.easel {
    width: 100%;
}


/* PRICES */

.prices__row {
    display: flex;
    flex-direction: row;
}

/* TESTIMONIALS */

.rating__stars {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.test__img {
    width: 80px;
    border-radius: 9999px;
}

.arrow__btn {
    border-radius: 9999px;
    background-color: #EDf2f7;
    width: 48px;
    height: 48px;
    font-size: 20px;
    color: #6415ff;
    border: none;
}

/* FAQ */

.faq__container {
    background-color: #6415ff;
}

/* LINKS */

.link__container {
    background-color: blue;
}

.link__row {
    background-color: blue;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link__list {
    width: calc(100% / 5);
}

.link__links {
    display: flex;
    flex-direction: column;
    width: calc(100% / 5);
}

