@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    /* font-family: "Roboto", sans-serif; */
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(247 250 252);
}

body {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 48px;
    line-height: 1.5;
    font-weight: 900;
}

h2 {
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(100 21 255);
    font-size: 16px;
}

h3 {
    font-size: 20px;
    color: #243e63;
    line-height: 1.625;
}

h4 {
    font-size: 36px;
    color: #CBd5e0;
}

li {
    list-style-type: none;
}

p {
    font-size: 18px;
    line-height: 1.5em;
    color: #7c8ba1
}

input {
    line-height: 1.5em;
}

section {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.purple {
    color: #6415ff;
}

/* NAV */


.nav__container {
    margin: 0 auto;
    margin-top: 24px;
    width: 100%;
    max-width: 1280px;

}

.nav__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 4px;
}

.nav__logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 24px 0px 0px;
    padding: 0px 0px 4px;
}

.t__logo {
    width: 100%;
    max-width: 40px;
    margin: 0px 12px 0px 0px;
}

.nav__title {
    font-size: 24px;
}

.nav__links--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav__links {
    display: flex;
    flex-direction: row;
    align-items: center;

}


.nav__link {
    margin: 0 24px;
    text-decoration: none;
    padding: 0 0 4px;
}

.nav__link--log-in {
    margin: 0px 24px 0px 48px;
}


.btn {
    font-weight: 700;
    padding: 12px 32px;
    border-radius: 9999px;
    border: none;
    font-size: 14px;
    background-color: rgb(100 21 255);
    color: rgb(247 250 252);
}


/* LANDING */

.landing__container {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    padding: 80px 0px 0px;
}

.landing__first--wrapper {
    display: flex;
    flex-direction: column;
    display: flex;
    width: 40%;
    justify-content: center;

}

.landing__title {
    font-weight: 700;
}

#landing__para {
    margin: 32px 0px;
    color: #243e63
}

.input__box {
    position: relative;


}

.input__bar {
    border-width: 2px;
    border-style: solid;
    display: flex;
    justify-content: space-between;

    width: 100%;
    border-radius: 9999px;
    border-color: rgb(226, 232, 240);
    padding: 20px 192px 20px 32px;

}

.get--started {
    position: absolute;
    padding: 16px 0PX;
    margin: 8px 8px 8px 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    font-size: 16px;
    line-height: 1;
    width: 10rem;
}

.customer__wrapper {
    margin: 80px 0px 0px;
}

.customer__text {
    font-size: 12px;
    color: #a0aec0;
}

.customer__logo {
    padding-right: 128px;
    width: 100%;
    height: auto;
    margin: 16px 0px 0px;
    display: block;
    opacity: 0.5;
}

.landing__second--wrapper {
    width: 60%;
    align-items: center;
}

.coat__hanger {
    width: 100%;

}

/* FEATURES */

.container {
    padding: 80px 0px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
}

.features__head {
    margin-bottom: 16px;
}

.features__para {
    max-width: 36rem;
    margin-top: 16px;
    color: rgb(124, 139, 161);
}

.features__spacer {
    margin-top: 40px;
    width: 100%;
}

.feature__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.feature {
    display: flex;
    width: calc(100%/3);
}

.feature__circle {
    width: 66px;
    height: 66px;
    padding: 20px;
    border-width: 1px;
    border-radius: 9999px;
    border-style: solid;
    border-color: rgb(226, 232, 240);
}

.feature__sub--wrapper {
    display: flex;

    margin: 0px 16px;
    padding: 32px 8px;
}

.feature__sub-class {
    margin: 8px 0px 0px 16px;
}

.feature__subtitle {
    font-size: 24px;
    margin: 16px 0px 0px;
}

.feature__para {
    font-size: 16px;
    color: rgb(124, 139, 161);
    margin-top: 16px;
}

/* QUALITY */

.quality__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    padding: 96px 0px;
}

.half__col {
    width: calc(100%/2);
}

.quality__col-one--wrapper--wrapper {

    width: calc(50%-64px);
}

.quality__col-one--wrapper {
    margin: 32px 0px;
    text-align: left;
    margin-right: 64px;

}

.quality__col-two--wrapper {
    height: 100%;
}

.quality__title {
    margin-top: 16px;
}

.quality__para {
    margin-top: 16px;
}

.quality__btn {
    margin-top: 32px;
}

.quality__img {
    width: 100%;
    max-width: fit-content;
}


/* STEPS */

.steps__container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.steps__row {
    display: flex;
    flex-direction: row;
    padding: 96px 0px;
}

.steps__col-one--wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
}

.steps__img {
    width: 100%;
    height: auto;
    object-fit: contain;
}


.steps__col-two--wrapper {
    padding: 32px 0px;
    padding-left: 64px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.steps__title {
    margin-top: 16px;
}

.step {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
}

.step__text {
    margin-left: 24px;
    max-width: 320px;
}

.step__para {
    font-size: 14px;
    margin-top: 12px;
}


/* VALUES */

.values__container {
    width: 100%;
    max-width: 1280px;
}

.values__row {

    padding: 96px 0px;
    display: flex;
    flex-direction: row;

}

.values__text--wrapper {
    width: 50%;
    padding-right: 96px;

}

.values__text--col {
    padding: 16px 0px;
    width: 100%;
}

.values__title {
    margin-top: 16px;
}

.values__para {
    margin-top: 32px;
}

.values__list {
    display: flex;
    flex-direction: row;
}

.value {
    margin-top: 32px;
    margin-right: 32px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.icon {
    width: 20px;
    background-color: none;
}

.value__top {
    display: flex;
    flex-direction: row;
}

.value__head {
    margin-left: 12px;
}

.value__para {
    margin-top: 16px;
}

.circle {
    height: 36px;
    width: 36px;
    text-align: center;
    border-radius: 9999px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.circle__green {

    background-color: #9ae6b4;
}

.circle__red {
    background-color: rgb(254 178 178);
}

.feather {
    height: 20px;
    width: 20px;
}

.feather-dollar-sign {
    color: rgb(39 103 73);
    background: none;
}

.feather-briefcase {
    color: rgb(155 44 44);
    background: none;
}

.values__btn {
    margin-top: 48px;
}

.values__img--wrapper {
    width: 50%;
    display: flex;
    align-items: center;
}

.values__img {
    width: 100%;
    height: auto;
}


/* PLANS */

.plans__container {
    width: 100%;
    max-width: 1280px;
}

.plans__row {
    display: flex;
    flex-direction: column;
}

.plans__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.plans__header--header {
    margin-bottom: 16px;
}

.plans__para {
    color: #7C8BA1;
    margin-top: 16px;
    width: 100%;
    max-width: 576px;
}

.plans__plans {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
}

.plan {
    position: relative;
    width: 100%;
    max-width: 384px;
    margin-right: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 64px;
    padding: 8px 32px 0px;
    border-style: solid;
    border-color: rgb(226, 232, 240);
    border-width: 0px;
    flex-wrap: wrap;
    box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.1);
}


.plan__decoration {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.plan__header {
    width: 100%;
    padding: 32px 0px;
    font-weight: 700;
    line-height: 1.625;
    text-transform: uppercase;
}


.plan__header--title {
    font-size: 20px;
}

.plan__header--price {
    font-size: 48px;
    margin: 4px 0px;
    
}

.plan__header--duration {
    color: rgb(160, 174, 192);
    letter-spacing: 1.6px;
}

.plan__features {
    padding: 32px;
    margin: 0px -32px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-style: solid;
    border-color: rgb(226, 232, 240);
    border-width: 0px;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.plan__feature--main {
    font-size: 20px;
    font-weight: 700;
}

.plan__feature {
    margin-top: 20px;
}

.plan__button--wrapper {
    padding: 32px 64px;
}

.plan__button {
    border-radius: 9999px;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    text-transform: uppercase;
    padding: 16px 32px;
    border-style: none;
    font-size: 14px;
    font-weight: 700;
    color: #F7Fafc;
    width: 100%;
    letter-spacing: 0.05em;
}

/* BLUE PLAN */

.plan--blue {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    color: rgb(247 250 252);
}

.plan__decoration--middle {
    background: none;
}

.plan--blue * {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(226,232,240, .5);
}

/* TESTIMONIALS */

.rating__stars {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.test__img {
    width: 80px;
    border-radius: 9999px;
}

.arrow__btn {
    border-radius: 9999px;
    background-color: #EDf2f7;
    width: 48px;
    height: 48px;
    font-size: 20px;
    color: #6415ff;
    border: none;
}

/* FAQ */

.faq__container {
    background-color: #6415ff;
}

/* LINKS */

.link__container {
    background-color: blue;
}

.link__row {
    background-color: blue;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link__list {
    width: calc(100% / 5);
}

.link__links {
    display: flex;
    flex-direction: column;
    width: calc(100% / 5);
}